#canvas{
  border: 1px solid black;
  direction:1tr;
  margin: 0px;
  border-radius: 3%;
  width: 900px;
  overflow: auto;
}
.file-name{
  margin-left: 10px;
}
h1{
  text-align: center;
  background-color: azure;
  color: blue;
}
div{
  margin: 10px;
}
.container{
  font-size: 80px;
}
.field{
  display: flex;
  float: right;
  color: #000;
}
